*{
    margin: 0;
    padding: 0;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(6,39,66);
    padding: 14px 40px;
}

.logo{
    height: 36px;
}

.nav{
    display: flex;
}
.nav > li > a{
    color: white;
    font-size: 20px;
    margin-left: 20px;
    text-decoration: none;
}

.welcome{
    background-image: url(../img/img/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100Vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
}

.title{
    font-size: 80px;
    text-align: center;
}

.guideline{
    font-size: 40px;
    font-weight: bold;
    text-align: center;
}

.guideline > li{
    margin-top: 14px;
}

#programming, #english{
    width: 100%;

}

#programming > h2, #english > h2{
    font-size: 40px;
    color: gray;
    padding-top: 40px;
    text-align: center;
}

.contents{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
}

.description{
    width: 50%;
}

.contents > img{
    height: 150px;
    margin: 0 20px;
}

footer{
    text-align: center;
    background-color: rgb(6,39,66);
    color: white;
    font-size: 20px;
    margin-top: 100px;
    padding: 20px 0;
}
